html {
  font-size: 63.5%;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
}

button {
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: scale(1.0);
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

label {
  margin: 0rem 0rem 2rem 0rem ;
}

canvas {
  border: 2px solid black;
}

ion-icon {
  font-size: 1.6rem;
  color: #7c7c7c;
  margin: 1rem;
}

.app {
  width: 100vw;
  height: 100vh;
}


.assetEditor {
  background-color: #fafafa;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.assetSidePanel {
  height: 90%;
  border-radius: 1.2rem;
  padding: 2rem;
}

.assetEditorLabelInformation {
  border-radius: 2rem;
  padding: 2rem;
  margin: -2rem 0rem 0rem 0rem;
  height: 48rem;
  background-color: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.assetEditorControls {
  width: 100%;
  height: 21rem;
  margin: 2rem 0rem 0rem 0rem;
  border-radius: 1.2rem;
  padding: 2rem;
  background-color: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.assetEditorLabelInformationHeading {
  margin: 0rem 0rem 4rem 0rem;
  color: rgb(132, 132, 132);
  text-align: left;
}

.labelInformationGroup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.labelInformationSubGroup {
  display: flex;
  flex-direction: column;
  margin: 0rem 0rem 2rem 0rem;
}

.labelInformationHeader {
  font-size: 1.2rem;
  color: rgb(132, 132, 132);
}

.labelInformationDetail {
  font-size: 2rem;
  margin: -0.4rem 0rem 0rem 0rem;
  color: rgb(91, 91, 91);
}

.assetEditorCanvas {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  padding: 2rem;
  margin: 2rem;
  background-color: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.overlayCanvas {
  position: absolute !important;
  z-index: 1000;
}

.labelInformationButton {
  height: 4rem;
  width: 100%;
  margin: 1rem 0rem 1rem 0rem;
  background-color: #ededed;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 1px solid #cacaca;
  border-radius: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
  color: rgb(82, 82, 82);
  padding: 1.2rem;
}

.fileUploadContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  
}

.fileUploadContainer button {
  margin: 0rem 0rem 0rem 2rem;
}

.exportContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-size: 1rem;
}

.assetImage {
  opacity: 0.7;
}

.hideInput {
  height: 0px;
  width: 0px; 
  overflow:hidden;
}

.switch {
  position: relative;
  display: inline-block;
  width: 8.8rem;
  height: 3.4rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 10px;
  left: 0px;
  right: -5px;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  margin: 0.8rem 0rem -1.2rem -0.1rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 2rem;
  width: 2rem;
  left: 0.4rem;
  bottom: 0.4rem;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

/* Rounded sliders */
.slider.round {
  border-radius: 3.2rem;
}

.slider.round:before {
  border-radius: 50%;
}

.vc {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 28rem;
}